<div ng-if="!choice" class="choice">
  
  <md-button class="choice-button md-raised bg-asphalt cl-clouds" ng-click="ToolsCreateCtrl.setChoice(1)">
    <i class="material-icons choice-icon">description</i>
    <span class="choice-label">Scrivi</span>
  </md-button>
  
  <md-button class="choice-button md-raised bg-asphalt cl-clouds" ng-click="ToolsCreateCtrl.setChoice(2)">
    <i class="material-icons choice-icon">note_add</i>
    <span class="choice-label">File</span>
  </md-button>
  
</div>

<!-- Tool without file -->
<div ng-if="choice == 1">
  <form name="newTool" class="form-horizontal m-t">
    
    <section style="width: 70%; margin-left: auto; margin-right: auto; margin-bottom: 4%;">
      
      <md-toolbar class="bg-asphalt">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Informazioni Strumento</h2>
        </div>
      </md-toolbar>
      
      <md-content class="md-padding">
        
        <!-- title -->
        <md-input-container class="md-block">
          <label class="input-label">Titolo</label>
          <input md-maxlength="100" required name="title" ng-model="tool.title" />
          <div ng-messages="newTool.title.$error">
            <div ng-message="required">Questo campo &egrave; richiesto</div>
            <div ng-message="md-maxlength">Il titolo deve avere meno di 100 caratteri</div>
          </div>
        </md-input-container>
      
        <!-- description -->
        <md-input-container class="md-block">
          <label class="input-label">Descrizione</label>
          <textarea md-maxlength="300" name="description" ng-model="tool.description" rows="3" columns="3" ></textarea>
          <div ng-messages="newTool.description.$error">
            <div ng-message="md-maxlength">La descrizione deve avere meno di 300 caratteri</div>
          </div>
        </md-input-container>
        
        <!-- tags -->
			  <md-chips ng-model="selectedTags" md-autocomplete-snap
							  md-transform-chip="ToolsCreateCtrl.transformChip($chip)"
	              md-on-add="ToolsCreateCtrl.addTag($chip)"
			          md-on-remove="ToolsCreateCtrl.removeTag($chip)"
	              md-require-match="false">
		      <md-autocomplete
		          md-selected-item="selectedItemTag"
		          md-search-text="searchTextTag"
		          md-selected-item-change=""
		          md-search-text-change=""
		          md-items="tag in ToolsCreateCtrl.searchTags(searchTextTag)"
		          md-min-length="1"
						  md-autofocus="false"
						  md-autoselect="false"
		          md-item-text="tag.title"
		          placeholder="Cerca un tag">
		        <span md-highlight-text="searchTextTag">{{tag.title}}</span>
		      </md-autocomplete>
		      <md-chip-template>
		        <span>
		          <strong>{{$chip.title}}</strong>
		        </span>
		      </md-chip-template>
		    </md-chips>
        
      </md-content>
      
    </section>
    
    <section style="width: 70%; margin-left: auto; margin-right: auto; margin-bottom: 4%;">
      
      <md-toolbar class="bg-asphalt">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Contenuto Strumento</h2>
        </div>
      </md-toolbar>
      
      <md-content class="md-padding">
        <!-- content -->
        <md-input-container class="md-block">
          <div class="">
            <div text-angular ng-model="tool.text" class="btn-groups"></div>
          </div>
        </md-input-container>
      </md-content>
      
    </section>
    
    <md-button class="md-fab md-fab-bottom-right left bg-river" aria-label="Salva" style="position: fixed;" ng-click="ToolsCreateCtrl.save()">
      <i class="icon material-icons i-24">save</i>
      <md-tooltip md-visible="true" md-direction="left">
        Salva
      </md-tooltip>
    </md-button>
    
  </form>
</div>

<!-- Tool with file -->
<div ng-if="choice == 2">
  <form name="newTool" class="form-horizontal m-t">
    
    <section style="width: 70%; margin-left: auto; margin-right: auto; margin-bottom: 4%;">
      
      <md-toolbar class="bg-asphalt">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Informazioni Strumento</h2>
        </div>
      </md-toolbar>
      
      <md-content class="md-padding">
        <!-- title -->
        <md-input-container class="md-block">
          <label class="input-label">Titolo</label>
          <input md-maxlength="100" required name="title" ng-model="tool.title" />
          <div ng-messages="newTool.title.$error">
            <div ng-message="required">Questo campo &egrave; richiesto</div>
            <div ng-message="md-maxlength">Il titolo deve avere meno di 100 caratteri</div>
          </div>
        </md-input-container>
        
        <!-- description -->
        <md-input-container class="md-block">
          <label class="input-label">Descrizione</label>
          <textarea md-maxlength="300" name="description" ng-model="tool.description" rows="3" columns="3" ></textarea>
          <div ng-messages="newTool.description.$error">
            <div ng-message="md-maxlength">La descrizione deve avere meno di 300 caratteri</div>
          </div>
        </md-input-container>
        
        <!-- tags -->
			  <md-chips ng-model="selectedTags" md-autocomplete-snap
							  md-transform-chip="ToolsCreateCtrl.transformChip($chip)"
	              md-on-add="ToolsCreateCtrl.addTag($chip)"
			          md-on-remove="ToolsCreateCtrl.removeTag($chip)"
	              md-require-match="false">
		      <md-autocomplete
		          md-selected-item="selectedItemTag"
		          md-search-text="searchTextTag"
		          md-selected-item-change=""
		          md-search-text-change=""
		          md-items="tag in ToolsCreateCtrl.searchTags(searchTextTag)"
		          md-min-length="1"
						  md-autofocus="false"
						  md-autoselect="false"
		          md-item-text="tag.title"
		          placeholder="Cerca un tag">
		        <span md-highlight-text="searchTextTag">{{tag.title}}</span>
		      </md-autocomplete>
		      <md-chip-template>
		        <span>
		          <strong>{{$chip.title}}</strong>
		        </span>
		      </md-chip-template>
		    </md-chips>
      </md-content>
      
    </section>
    
  </form>

  <section style="width: 70%; margin-left: auto; margin-right: auto; margin-bottom: 4%;">
    
    <md-toolbar class="bg-asphalt">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Informazioni Strumento</h2>
      </div>
    </md-toolbar>
    
    <md-content style="height: 315px;">
    
      <div class="box" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
        <div class="col-md-3">
          <div class="p-md">
            <div ng-show="uploader.isHTML5" class="m-b-md">
              <!-- 3. nv-file-over uploader="link" over-class="className" -->
              <div class="b-a b-dashed p-lg bg-white text-center m-b" nv-file-over="" over-class="b-info" uploader="uploader">
                Drag & Drop zone
              </div>
              <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
            </div>
    
            <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
            <p>File multipli</p>
            <input type="file" nv-file-select="" uploader="uploader" multiple  />
    
            <p class="m-t-md">Singolo file</p>
            <input name="file" type="file" nv-file-select="" uploader="uploader" />
          </div>
        </div>
        <div class="col-md-9">
          <div class="p-md">
            <div class="m-b"><b class="badge bg-info pos-rlt m-r-xs"><i class="arrow right b-info pull-in"></i>{{ uploader.queue.length }}</b> file(s)</div>
            <table class="table bg-white b-a">
              <thead>
                <tr>
                  <th width="50%">Nome</th>
                  <th ng-show="uploader.isHTML5">Dimensione</th>
                  <th ng-show="uploader.isHTML5">Progresso</th>
                  <th>Stato</th>
                  <th>Azioni</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in uploader.queue">
                  <td><strong>{{ item.file.name }}</strong></td>
                  <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                  <td ng-show="uploader.isHTML5">
                    <div class="progress progress-sm no-margin m-t-xs">
                      <div class="progress-bar bg-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show="item.isCancel" class="text-warning"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-default btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                        Carica
                    </button>
                    <button type="button" class="btn btn-default btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                        Cancella
                    </button>
                    <button type="button" class="btn btn-default btn-xs" ng-click="item.remove()">
                        Rimuovi
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div>
              <div>
                <p>Progresso Coda:</p>
                <div class="progress bg-light dker" style="">
                  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
              </div>
              <button type="button" class="btn btn-addon btn-info" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                <i class="fa fa-cloud-upload"></i> Carica tutti
              </button>
              <button type="button" class="btn btn-addon btn-default" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                <i class="fa fa-ban"></i> Cancella tutti
              </button>
              <button type="button" class="btn btn-addon btn-default" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                <i class="fa fa-times"></i> Rimuovi tutti
              </button>
            </div>
          </div>
        </div>
      </div>
    
    </md-content>
    
  </section>

</div>