<div class="box bg-asphalt-tr cl-clouds">
  <div class="navbar md-whiteframe-z1 no-radius">
      <!-- brand -->
      <a class="navbar-brand bg-asphalt cl-clouds" style="margin: 0; padding: 2%;">
<!--         <object id="logo" class="logo" type="image/svg+xml" data="images/logo.svg" style="width: 100%; height: 100%;"></object> -->
        <img src="images/logo.png" style=" height: 100%;">
        <span class="hidden-folded m-l inline">{{app.name}}</span>
      </a>
      <!-- / brand -->
  </div>
  <div id="nav" ng-include="'views/partials/aside.nav.section.html'"></div>
  
  <nav>
    
  </nav>
</div>
